{% extends 'index.html' %}
{% block title %} FormPage {% endblock title %}
{% block body %}
{% load static %}

<section id="main-content">

  <section class="wrapper">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">

      {% if message.tags == "success" %}
      <strong>Well done!</strong> {{ message}}
      {% else %}
      <strong>Error!</strong> {{ message}}
      {% endif %}

    </div>
    {% endfor %}
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-table"></i> Neighbor</h3>

        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/company/dashboard/">Dashboard</a></li>
          <li><i class="fa fa-table"></i>Data</li>

        </ol>
      </div>

    </div>
    <!-- page start-->



    <div class="row">
      <div class="col-lg-12">
 
      </div><br>
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Neighbor Table
          </header>
              
  <table class="table table-striped table-advance table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SubDistrict NO</th>
      <th scope="col">Neighbor Name</th>
       <th scope="col">Action</th>
        <th scope="col">Table</th>
      
    </tr>
  </thead>
   {% for  n in neighbor %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
       <td>   {{ n.subDistrict }}</td>
      <td>   {{ n.Neighborname }}</td>
     
      <td>
   
        <a class="btn btn-success" href="{% url 'nupdateform' n.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'ndelete' n.id %}">Delete</a>
                                  
      </td>
      <td>
           <a class="btn btn-info" href="{% url 'snupdateform1' n.id %}">SubNeighbor</a>
      </td>
    </tr>
   
  </tbody>
  {% endfor %}
</table>

</div>
</div>
</div>
</div>

{% endblock body %}