{% extends 'index.html' %}
{% block title %} FormPage {% endblock title %}
{% block body %}
{% load static %}

<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
              
                <div class="card-body">
  <h2>Neighbor </h2>
  </br>               
 <table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SubDistrict NO</th>
      <th scope="col">Neighbor Name</th>
       <th scope="col">Action</th>
        <th scope="col">Table</th>
      
    </tr>
  </thead>
   {% for  n in neighbor %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
       <td>   {{ n.subDistrict }}</td>
      <td>   {{ n.Neighborname }}</td>
     
      <td>
   
        <a class="btn btn-success" href="{% url 'nupdateform' n.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'ndelete' n.id %}">Delete</a>
                                  
      </td>
      <td>
           <a class="btn btn-secondary" href="{% url 'snupdateform1' n.id %}">SubNeighbor</a>
      </td>
    </tr>
   
  </tbody>
  {% endfor %}
</table>

</div>
</div>
</div>
</div>

{% endblock body %}