{% extends 'index.html' %}
{% block title %} FormPage {% endblock title %}
{% block body %}
{% load static %}


                  
  
 <h2>Parcel<a class="btn btn-warning" href="{% url 'pform'  %}" style='margin-left:200px;' >ADD</a></h2>
  </br>               
 <table class="table table-striped">
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col"> Landtype</th>
      <th scope="col">Notary</th>
      <th scope="col">Existingbuilding</th>
      <th scope="col">Landamount</th>
      <th scope="col"> PurchaseDate</th>
      <th scope="col"> FileNO </th>
       <th scope="col">  Landwidth</th>
        <th scope="col">  landlenght</th>
         <th scope="col">  Action</th>
           <th scope="col">  Tables1</th>
             <th scope="col">  Tables2</th>
       
        
    </tr>
  </thead>
   {% for  p in P  %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>   {{ p.Landtype}}</td>
      <td>   {{ p.Notary}}</td>
      <td>   {{ p.Existingbuilding}}</td>
      <td>   {{ p.Landpurchaseamount}}</td>
      <td>   {{ p.PurchaseDate}}</td>
      <td>   {{ p.FileNO}}</td>
      <td>   {{ p.Landwidth}}</td>
      <td>   {{ p.landlenght}}</td>
          
      <td>
    
        <a class="btn btn-success" href="{% url 'puform' p.Registrationid%}">Edit</a>
        <a class="btn btn-danger" href="{% url 'pdelete' p.Registrationid%}">Delete</a>
       
                                  
      </td>
      <td>
       <a class="btn btn-info" href="{% url 'slForm1' p.Registrationid%}">Sellerinfo</a><br>
        <a class="btn btn-secondary" href="{% url 'PIform' p.Registrationid%}">Purchaseinfo</a>
         <a class="btn btn-info" href="{% url 'dform' p.Registrationid%}">Dhaxal</a>
         </td>
         <td>
          <a class="btn btn-secondary" href="{% url 'idform' p.Registrationid%}">Identification</a>
           <a class="btn btn-info" href="{% url 'spForm' p.Registrationid%}">SubDOC</a>
               <a class="btn btn-secondary" href="{% url 'dsForm' p.Registrationid%}">DhaxalSubDOC</a>
      </td>
    </tr>
   
  </tbody>
  {% endfor %}
</table>

</div>
</div>
</div>
</div>

{% endblock body %}