{% extends 'index.html' %}
{% block title %} FormPage {% endblock title %}
{% block body %}
{% load static %}


                  
  

<section id="main-content">

  <section class="wrapper">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">

      {% if message.tags == "success" %}
      <strong>Well done!</strong> {{ message}}
      {% else %}
      <strong>Error!</strong> {{ message}}
      {% endif %}

    </div>
    {% endfor %}
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-table"></i> Parcel</h3>

        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/company/dashboard/">Dashboard</a></li>
          <li><i class="fa fa-table"></i>Data</li>

        </ol>
      </div>

    </div>
    <!-- page start-->



    <div class="row">
      <div class="col-lg-12">
        <a class="btn btn-primary" href="{% url 'pform'  %}" >Add New Parcel</a><br>
      </div><br>
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Parcel Table
          </header>
              
  <table class="table table-striped table-advance table-hover">
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col"> Landtype</th>
      <th scope="col">Notary</th>
      <th scope="col">Existingbuilding</th>
      <th scope="col">Landamount</th>
      <th scope="col"> PurchaseDate</th>
      <th scope="col"> FileNO </th>
       <th scope="col">  Landwidth</th>
        <th scope="col">  landlenght</th>
         <th scope="col">  Action</th>
           <th scope="col">  Tables1</th>
             <th scope="col">  Tables2</th>
       
        
    </tr>
  </thead>
   {% for  p in P  %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>   {{ p.Landtype}}</td>
      <td>   {{ p.Notary}}</td>
      <td>   {{ p.Existingbuilding}}</td>
      <td>   {{ p.Landpurchaseamount}}</td>
      <td>   {{ p.PurchaseDate}}</td>
      <td>   {{ p.FileNO}}</td>
      <td>   {{ p.Landwidth}}</td>
      <td>   {{ p.landlenght}}</td>
          
      <td>
    
        <a class="btn btn-success" href="{% url 'puform' p.Registrationid%}">Edit</a>
        <a class="btn btn-danger" href="{% url 'pdelete' p.Registrationid%}">Delete</a>
       
                                  
      </td>
      <td>
       <a class="btn btn-info" href="{% url 'slForm1' p.Registrationid%}">Sellerinfo</a><br>
        <a class="btn btn-primary" href="{% url 'PIform' p.Registrationid%}">Purchaseinfo</a>
         <a class="btn btn-info" href="{% url 'dform' p.Registrationid%}">Dhaxal</a>
         </td>
         <td>
          <a class="btn btn-info" href="{% url 'idform' p.Registrationid%}">Identification</a>
               <a class="btn btn-primary" href="{% url 'dsForm' p.Registrationid%}">DhaxalSubDOC</a>
                <a class="btn btn-info" href="{% url 'spForm' p.Registrationid%}">SubDOC</a>
      </td>
    </tr>
   
  </tbody>
  {% endfor %}
</table>

</div>
</div>
</div>
</div>

{% endblock body %}